/*//////////////////////////////////////////////////////////////
    FONTS
//////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


/*//////////////////////////////////////////////////////////////
    TAILWIND / GLOBALS
//////////////////////////////////////////////////////////////*/
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    -webkit-tap-highlight-color: transparent;
}


/*//////////////////////////////////////////////////////////////
    SCROLLBARS
//////////////////////////////////////////////////////////////*/
*::-webkit-scrollbar {
    width: 6px;
}

.sidebar-notes-overflow::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
}

// Dark version
.dark *::-webkit-scrollbar-track {
    background: #262626;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: #404040;
}


/*//////////////////////////////////////////////////////////////
    DROPDOWN
//////////////////////////////////////////////////////////////*/
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}


/*//////////////////////////////////////////////////////////////
    CHECKBOX
//////////////////////////////////////////////////////////////*/
.checkbox {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;

    input {
        display: none;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
    }

    // checked bg
    input:checked~.checkmark {
        background-color: theme('colors.primary');
    }

    input:checked~.checkmark .checkmark-icon {
        display: block;
    }
}


/*//////////////////////////////////////////////////////////////
    TEXT EDITOR - PROSE MIRROR
//////////////////////////////////////////////////////////////*/

// PLACEHOLDER
.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

.dark .ProseMirror p.is-editor-empty:first-child::before {
    color: #525252;
}

// HEADINGS
.ProseMirror {

    h1,
    h2,
    h3 {
        font-weight: 700;
        line-height: 1.2;
    }

    h1:first-child,
    h2:first-child,
    h3:first-child {
        margin-top: 0;
    }

    h1 {
        margin-top: 64px;
        margin-bottom: 16px;
        font-size: 32px;
    }

    h2 {
        margin-top: 48px;
        margin-bottom: 12px;
        font-size: 28px;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 12px;
        font-size: 24px;
    }
}

// LISTS
.ProseMirror {

    ul,
    ol {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 48px;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}